# 過去のデータを入れるための列を追加する

## 方針

1. 1995年のデータをコピーする．
2. year列を2000, 1995に書き換える．
3. population, income列を空白にする．
4. 結合する．

In [23]:
import pandas as pd
import numpy as np
import openpyxl

In [24]:
filepath = '../../data/raw/df.xlsx'
df = pd.read_excel(filepath, engine='openpyxl')
df

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1995,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
1,島後,2000,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
2,島後,2001,0,32528,隠岐の島町,32,17930.0,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
3,島後,2002,0,32528,隠岐の島町,32,17865.0,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
4,島後,2003,0,32528,隠岐の島町,32,17704.0,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4700,沖の島,2016,163,39208,宿毛市,39,175.0,0,0,0,0,0,0,1944.321939,高知県,10.02,5578.0
4701,沖の島,2017,163,39208,宿毛市,39,168.0,0,0,0,0,0,0,1959.725815,高知県,10.02,5578.0
4702,沖の島,2018,163,39208,宿毛市,39,159.0,0,0,0,0,0,0,1979.690012,高知県,10.02,5578.0
4703,沖の島,2019,163,39208,宿毛市,39,153.0,0,0,0,0,0,0,2022.578528,高知県,10.02,5578.0
4704,沖の島,2020,163,39208,宿毛市,39,150.0,0,0,0,0,0,0,2005.350219,高知県,10.02,5578.0

In [25]:
df_1995 = df[df['year'] == 1995]
df_1995.head()

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1995,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
24,中ノ島,1995,1,32525,海士町,32,2857.0,0,0,0,0,0,0,256.336348,島根県,32.29,49730.0
48,西ノ島,1995,2,32526,西ノ島町,32,4048.0,0,0,0,0,0,0,362.002296,島根県,55.77,49760.0
72,知夫里島,1995,3,32527,知夫村,32,802.0,0,0,0,0,0,0,56.197509,島根県,13.03,44910.0
98,大島&江島,1995,4,32308,（旧）八束町,32,4597.0,1,1,2004,0,2004,0,421.381204,島根県,6.74,2090.0

In [26]:
df_1990 = df_1995.copy()
df_1990['year'] = 1990
df_1990['population'] = ''
df_1990['income'] = ''
df_1990 = df_1990[~df_1990.set_index(['island_id', 'year']).index.isin(df.set_index(['island_id', 'year']).index)]
df_1990.head()

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1990,0,32528,隠岐の島町,32,,0,0,0,0,0,0,,島根県,241.53,67840.00
110,鹿久居島,1990,6,33342,日生町,33,,1,1,2015,0,2015,0,,岡山県,10.14,728.12
111,鹿久居島,1990,6,33342,日生町,33,,1,1,2015,0,2015,0,,岡山県,10.14,728.12
154,大多府島,1990,7,33342,日生町,33,,0,0,0,0,0,0,,岡山県,0.38,1600.00
155,大多府島,1990,7,33342,日生町,33,,0,0,0,0,0,0,,岡山県,0.38,1600.00

In [27]:
df_1985 = df_1995.copy()
df_1985['year'] = 1985
df_1985['population'] = ''
df_1985['income'] = ''
df_1985 = df_1985[~df_1985.set_index(['island_id', 'year']).index.isin(df.set_index(['island_id', 'year']).index)]
df_1985.head()

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1985,0,32528,隠岐の島町,32,,0,0,0,0,0,0,,島根県,241.53,67840.00
110,鹿久居島,1985,6,33342,日生町,33,,1,1,2015,0,2015,0,,岡山県,10.14,728.12
111,鹿久居島,1985,6,33342,日生町,33,,1,1,2015,0,2015,0,,岡山県,10.14,728.12
154,大多府島,1985,7,33342,日生町,33,,0,0,0,0,0,0,,岡山県,0.38,1600.00
155,大多府島,1985,7,33342,日生町,33,,0,0,0,0,0,0,,岡山県,0.38,1600.00

In [28]:
df_1980 = df_1995.copy()
df_1980['year'] = 1980
df_1980['population'] = ''
df_1980['income'] = ''
df_1980 = df_1980[~df_1980.set_index(['island_id', 'year']).index.isin(df.set_index(['island_id', 'year']).index)]
df_1980.head()

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1980,0,32528,隠岐の島町,32,,0,0,0,0,0,0,,島根県,241.53,67840.0
24,中ノ島,1980,1,32525,海士町,32,,0,0,0,0,0,0,,島根県,32.29,49730.0
48,西ノ島,1980,2,32526,西ノ島町,32,,0,0,0,0,0,0,,島根県,55.77,49760.0
72,知夫里島,1980,3,32527,知夫村,32,,0,0,0,0,0,0,,島根県,13.03,44910.0
98,大島&江島,1980,4,32308,（旧）八束町,32,,1,1,2004,0,2004,0,,島根県,6.74,2090.0

In [31]:
merged_df = pd.concat([df, df_1980, df_1985, df_1990, df_1995], ignore_index=True)
merged_df = merged_df.sort_values(['island_id', 'year']).reset_index(drop=True)
merged_df

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1980,0,32528,隠岐の島町,32,,0,0,0,0,0,0,,島根県,241.53,67840.0
1,島後,1985,0,32528,隠岐の島町,32,,0,0,0,0,0,0,,島根県,241.53,67840.0
2,島後,1990,0,32528,隠岐の島町,32,,0,0,0,0,0,0,,島根県,241.53,67840.0
3,島後,1995,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
4,島後,1995,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5517,沖の島,2016,163,39208,宿毛市,39,175.0,0,0,0,0,0,0,1944.321939,高知県,10.02,5578.0
5518,沖の島,2017,163,39208,宿毛市,39,168.0,0,0,0,0,0,0,1959.725815,高知県,10.02,5578.0
5519,沖の島,2018,163,39208,宿毛市,39,159.0,0,0,0,0,0,0,1979.690012,高知県,10.02,5578.0
5520,沖の島,2019,163,39208,宿毛市,39,153.0,0,0,0,0,0,0,2022.578528,高知県,10.02,5578.0
5521,沖の島,2020,163,39208,宿毛市,39,150.0,0,0,0,0,0,0,2005.350219,高知県,10.02,5578.0

In [32]:
output_filepath = '../../data/raw/merged_df.xlsx'
merged_df.to_excel(output_filepath, index=False)