# 過去のデータを入れるための列を追加する

## 方針

1. 1995年のデータをコピーする．
2. year列を2000, 1995に書き換える．
3. population, income列を空白にする．
4. 結合する．

In [8]:
import pandas as pd
import numpy as np

In [9]:
filepath = '../../data/raw/df.xlsx'
df = pd.read_excel(filepath)
df

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1975,62,32528,隠岐の島町,32,19938.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
1,島後,1980,62,32528,隠岐の島町,32,20101.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
2,島後,1985,62,32528,隠岐の島町,32,19675.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
3,島後,1990,62,32528,隠岐の島町,32,19090.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
4,島後,1995,62,32528,隠岐の島町,32,18367.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3362,柏島,2000,226,39424,大月町,39,398.0,1.0,1.0,1957.0,1.0,1957.0,1.0,511.336980,高知県,0.56,110.0
3363,柏島,2005,226,39424,大月町,39,365.0,1.0,1.0,1957.0,1.0,1957.0,1.0,453.343458,高知県,0.56,110.0
3364,柏島,2010,226,39424,大月町,39,343.0,1.0,1.0,1957.0,1.0,1957.0,1.0,390.383344,高知県,0.56,110.0
3365,柏島,2015,226,39424,大月町,39,284.0,1.0,1.0,1957.0,1.0,1957.0,1.0,406.472100,高知県,0.56,110.0
3366,柏島,2020,226,39424,大月町,39,225.0,1.0,1.0,1957.0,1.0,1957.0,1.0,375.870108,高知県,0.56,110.0

In [10]:
df_1975 = df[df['year'] == 1975]
df_1975.head()

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1975,62,32528,隠岐の島町,32,19938.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
26,中ノ島,1975,63,32525,海士町,32,3873.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,32.29,49730.0
52,西ノ島,1975,64,32526,西ノ島町,32,5052.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,55.77,49760.0
78,知夫里島,1975,65,32527,知夫村,32,1126.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,13.03,44910.0
104,大島・江島,1975,66,32308,（旧）八束町,32,4569.0,1.0,1.0,2004.0,0.0,2004.0,0.0,NaN,島根県,6.74,2090.0

In [11]:
df_1970 = df_1975.copy()
df_1970['year'] = 1970
df_1970['population'] = ''
df_1970['income'] = ''
df_1970 = df_1970[~df_1970.set_index(['island_id', 'year']).index.isin(df.set_index(['island_id', 'year']).index)]
df_1970.head()

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1970,62,32528,隠岐の島町,32,,0.0,0.0,0.0,0.0,0.0,0.0,,島根県,241.53,67840.0
26,中ノ島,1970,63,32525,海士町,32,,0.0,0.0,0.0,0.0,0.0,0.0,,島根県,32.29,49730.0
52,西ノ島,1970,64,32526,西ノ島町,32,,0.0,0.0,0.0,0.0,0.0,0.0,,島根県,55.77,49760.0
78,知夫里島,1970,65,32527,知夫村,32,,0.0,0.0,0.0,0.0,0.0,0.0,,島根県,13.03,44910.0
104,大島・江島,1970,66,32308,（旧）八束町,32,,1.0,1.0,2004.0,0.0,2004.0,0.0,,島根県,6.74,2090.0

In [12]:
merged_df = pd.concat([df, df_1970], ignore_index=True)
merged_df = merged_df.sort_values(['island_id', 'year']).reset_index(drop=True)
merged_df

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1970,62,32528,隠岐の島町,32,,0.0,0.0,0.0,0.0,0.0,0.0,,島根県,241.53,67840.0
1,島後,1975,62,32528,隠岐の島町,32,19938.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
2,島後,1980,62,32528,隠岐の島町,32,20101.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
3,島後,1985,62,32528,隠岐の島町,32,19675.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
4,島後,1990,62,32528,隠岐の島町,32,19090.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3515,柏島,2000,226,39424,大月町,39,398.0,1.0,1.0,1957.0,1.0,1957.0,1.0,511.33698,高知県,0.56,110.0
3516,柏島,2005,226,39424,大月町,39,365.0,1.0,1.0,1957.0,1.0,1957.0,1.0,453.343458,高知県,0.56,110.0
3517,柏島,2010,226,39424,大月町,39,343.0,1.0,1.0,1957.0,1.0,1957.0,1.0,390.383344,高知県,0.56,110.0
3518,柏島,2015,226,39424,大月町,39,284.0,1.0,1.0,1957.0,1.0,1957.0,1.0,406.4721,高知県,0.56,110.0
3519,柏島,2020,226,39424,大月町,39,225.0,1.0,1.0,1957.0,1.0,1957.0,1.0,375.870108,高知県,0.56,110.0

In [13]:
output_filepath = '../../data/raw/df.xlsx'
merged_df.to_excel(output_filepath, index=False)