In [1]:
import pandas as pd

In [6]:
filepath = '../../data/processed/region_code.csv'
df = pd.read_csv(filepath)
df = df.drop_duplicates()
df = df.sort_values(by='region_code')
df

    region_code  region_name
5         32201          松江市
4         32308       （旧）八束町
1         32525          海士町
2         32526         西ノ島町
3         32527          知夫村
..          ...          ...
69        38207          大洲市
65        38356          上島町
72        39206          須崎市
74        39208          宿毛市
73        39424          大月町

[75 rows x 2 columns]

In [7]:
df.to_csv(filepath, index=False, encoding='utf-8-sig')