# 課税所得をデフレートする

In [65]:
import pandas as pd
import numpy as np
import openpyxl

filepath = '../../data/raw/df.xlsx'
filepath2 = '../../data/raw/JPNCPIALLAINMEI.xlsx'
df = pd.read_excel(filepath)
df_cpi = pd.read_excel(filepath2)
df_cpi['year'] = df_cpi['observation_date'].dt.year

In [67]:
print(df.dtypes)
print('---')
print(df_cpi.dtypes)

island                                 object
year                                    int64
island_id                               int64
region_code                             int64
region_name                            object
prefecture_code                         int64
prefecture_code.1                      object
population                            float64
dummy_island_has_bridge                 int64
dummy_island_is_connected_mainland      int64
year_bridge_opened                      int64
dummy_after_bridge_opened               int64
year_connect_mainland                   int64
dummy_after_connect_mainland            int64
income                                float64
dtype: object
---
observation_date    datetime64[ns]
JPNCPIALLAINMEI            float64
year                         int32
dtype: object

In [77]:
merged_df = pd.merge(df, df_cpi[['year', 'JPNCPIALLAINMEI']], on='year', how='left')

In [78]:
merged_df['nominal_income'] = merged_df['income']

In [79]:
merged_df['income'] = merged_df['nominal_income'] / merged_df['JPNCPIALLAINMEI']

In [81]:
merged_df[['income', 'nominal_income']]

             income  nominal_income
0               NaN             NaN
1               NaN             NaN
2               NaN             NaN
3               NaN             NaN
4               NaN             NaN
...             ...             ...
3331  194184.759525      19393764.0
3332  196670.831826      19737157.0
3333  200639.405065      20334583.0
3334  205947.036062      20970351.0
3335  204141.844780      20781354.0

[3336 rows x 2 columns]

In [82]:
merged_df.to_excel('../../data/processed/df_with_cpi.xlsx', index=False)