# 全く同じ行を削除する

In [2]:
import pandas as pd

filepaths = '../../data/raw/df.xlsx'
df = pd.read_excel(filepaths)
df

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1980,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
1,島後,1985,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
2,島後,1990,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
3,島後,1995,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
4,島後,2000,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5449,沖の島,2016,163,39208,宿毛市,39,175.0,0,0,0,0,0,0,1944.321939,高知県,10.02,5578.0
5450,沖の島,2017,163,39208,宿毛市,39,168.0,0,0,0,0,0,0,1959.725815,高知県,10.02,5578.0
5451,沖の島,2018,163,39208,宿毛市,39,159.0,0,0,0,0,0,0,1979.690012,高知県,10.02,5578.0
5452,沖の島,2019,163,39208,宿毛市,39,153.0,0,0,0,0,0,0,2022.578528,高知県,10.02,5578.0
5453,沖の島,2020,163,39208,宿毛市,39,150.0,0,0,0,0,0,0,2005.350219,高知県,10.02,5578.0

In [3]:
df = df.drop_duplicates()
df

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1980,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
1,島後,1985,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
2,島後,1990,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
3,島後,1995,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
4,島後,2000,0,32528,隠岐の島町,32,NaN,0,0,0,0,0,0,NaN,島根県,241.53,67840.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5449,沖の島,2016,163,39208,宿毛市,39,175.0,0,0,0,0,0,0,1944.321939,高知県,10.02,5578.0
5450,沖の島,2017,163,39208,宿毛市,39,168.0,0,0,0,0,0,0,1959.725815,高知県,10.02,5578.0
5451,沖の島,2018,163,39208,宿毛市,39,159.0,0,0,0,0,0,0,1979.690012,高知県,10.02,5578.0
5452,沖の島,2019,163,39208,宿毛市,39,153.0,0,0,0,0,0,0,2022.578528,高知県,10.02,5578.0
5453,沖の島,2020,163,39208,宿毛市,39,150.0,0,0,0,0,0,0,2005.350219,高知県,10.02,5578.0

In [4]:
export_path = '../../data/raw/df.xlsx'
df.to_excel(export_path, index=False)