# K近傍法により欠損値を補完する

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer

In [17]:
filepath = '../../data/raw/FEI_CITY_241029204835.csv'
df = pd.read_csv(filepath)
df

     year  region_code region_name    income investment
0    1985        32202     島根県 浜田市  42436743        ***
1    1986        32202     島根県 浜田市  43593191        ***
2    1987        32202     島根県 浜田市  44996335        ***
3    1988        32202     島根県 浜田市  44948134        ***
4    1989        32202     島根県 浜田市  45374652        ***
..    ...          ...         ...       ...        ...
266  2018        32528   島根県 隠岐の島町  17169064    3391986
267  2019        32528   島根県 隠岐の島町  17023558    5200295
268  2020        32528   島根県 隠岐の島町  17473739    5315473
269  2021        32528   島根県 隠岐の島町  17993631        ***
270  2022        32528   島根県 隠岐の島町  18259497        ***

[271 rows x 5 columns]

In [18]:
pivoted_df = df.pivot(index='year', columns='region_code', values=['income'])
pivoted_df = pivoted_df.replace('***', np.nan)
pivoted_df

               income                                                        \
region_code     32202    32308     32521   32522    32523    32524    32525
year
1985         42436743  2041008  10791266  330735  1169118  1097168  2135948
1986         43593191  2130537  11073130  333024  1073274  1062437  2127428
1987         44996335  2262965  11483959  353338  1209463  1186989  2199153
1988         44948134  2368238  11986270  346785  1230478  1205796  2224649
1989         45374652  2659843  12392731  366006  1350013  1242280  2243185
1990         47868332  2738515  12900295  384093  1366337  1237383  2273096
1991         52002454  3035484  14113700  458505  1511045  1342062  2385039
1992         55582962  3392344  14949574  439156  1602098  1465551  2514640
1993         56676112  3660904  15679670  455680  1748493  1604976  2707823
1994         58798793  4017388  16332553  475448  1926679  1621820  2838703
1995         60360604  4098648  17162044  518705  2118905  1779773  3047738
1996         60307773  4305862  17793893  534641  2151741  1893850  3063511
1997         62325144  4399633  18162912  544453  2151312  1970218  3134063
1998         62384660  4513230  18476258  533074  2158729  2029040  3245197
1999         60855376  4388735  18621802  606127  2273000  2058729  3203792
2000         60174079  4236624  18831963  602813  2333200  2104435  3313311
2001         60134678  4446707  17891446  599901  2253705  2082223  3103358
2002         57855724  4416727  17263495  542007  2123847  2044082  2909962
2003         55456132  4191247  16565758  557970  1991959  2041215  2773110
2004         53233347  4019379  15752525  486736  1857020  1852450  2712239
2005         52489632      NaN       NaN     NaN      NaN      NaN  2573339
2006         69307022      NaN       NaN     NaN      NaN      NaN  2609567
2007         67922195      NaN       NaN     NaN      NaN      NaN  2454620
2008         66014349      NaN       NaN     NaN      NaN      NaN  2377803
2009         65272764      NaN       NaN     NaN      NaN      NaN  2273781
2010         63971519      NaN       NaN     NaN      NaN      NaN  2336882
2011         63614907      NaN       NaN     NaN      NaN      NaN  2381067
2012         63044525      NaN       NaN     NaN      NaN      NaN  2443874
2013         63386337      NaN       NaN     NaN      NaN      NaN  2380111
2014         62834162      NaN       NaN     NaN      NaN      NaN  2425291
2015         63466038      NaN       NaN     NaN      NaN      NaN  2468690
2016         63458439      NaN       NaN     NaN      NaN      NaN  2588976
2017         63387616      NaN       NaN     NaN      NaN      NaN  2644069
2018         63608626      NaN       NaN     NaN      NaN      NaN  2580699
2019         63903297      NaN       NaN     NaN      NaN      NaN  2557864
2020         63206828      NaN       NaN     NaN      NaN      NaN  2469768
2021         65296490      NaN       NaN     NaN      NaN      NaN  2688706
2022         66766442      NaN       NaN     NaN      NaN      NaN  2645758


region_code    32526   32527     32528
year
1985         3561612  544717       NaN
1986         3558154  523376       NaN
1987         3554767  549099       NaN
1988         3527264  557754       NaN
1989         3662884  603904       NaN
1990         3913339  575455       NaN
1991         4145214  599831       NaN
1992         4428495  638185       NaN
1993         4387782  690145       NaN
1994         4335198  713449       NaN
1995         4589846  722645       NaN
1996         4800240  714627       NaN
1997         5359168  726139       NaN
1998         4750820  744475       NaN
1999         4689937  770656       NaN
2000         4615603  762708       NaN
2001         4363130  721636       NaN
2002         4157954  718083       NaN
2003         3985483  694685       NaN
2004         3852056  610982       NaN
2005         3686569  571624  19083931
2006         3607598  606605  18912797
2007         3482008  599370  17833873
2008         3569698  562751  17127603
2009         3480252  549030  16606138
2010         3371048  539449  16082881
2011         3352166  551117  15626219
2012         3451278  535779  15744973
2013         3256428  546775  15761500
2014         3340552  561321  15819270
2015         3353089  572685  16135317
2016         3370002  608907  16341291
2017         3442618  634627  16476536
2018         3481604  659100  17169064
2019         3439335  686105  17023558
2020         3423301  701780  17473739
2021         3525472  770724  17993631
2022         3396560  788959  18259497

In [19]:
missing_all_years = pivoted_df.columns[pivoted_df.isnull().all(axis=0)]
print(missing_all_years)

MultiIndex([], names=[None, 'region_code'])

In [20]:
# Step 4: Apply KNNImputer
imputer = KNNImputer(n_neighbors=5)
imputed_data = imputer.fit_transform(pivoted_df)

print(pivoted_df.shape)
print(imputed_data.shape)

(38, 10)
(38, 10)

In [22]:
# Step 5: Convert back to dataframe
imputed_df = pd.DataFrame(imputed_data, columns=pivoted_df.columns, index=pivoted_df.index)

imputed_df

                 income                                              \
region_code       32202      32308       32521     32522      32523
year
1985         42436743.0  2041008.0  10791266.0  330735.0  1169118.0
1986         43593191.0  2130537.0  11073130.0  333024.0  1073274.0
1987         44996335.0  2262965.0  11483959.0  353338.0  1209463.0
1988         44948134.0  2368238.0  11986270.0  346785.0  1230478.0
1989         45374652.0  2659843.0  12392731.0  366006.0  1350013.0
1990         47868332.0  2738515.0  12900295.0  384093.0  1366337.0
1991         52002454.0  3035484.0  14113700.0  458505.0  1511045.0
1992         55582962.0  3392344.0  14949574.0  439156.0  1602098.0
1993         56676112.0  3660904.0  15679670.0  455680.0  1748493.0
1994         58798793.0  4017388.0  16332553.0  475448.0  1926679.0
1995         60360604.0  4098648.0  17162044.0  518705.0  2118905.0
1996         60307773.0  4305862.0  17793893.0  534641.0  2151741.0
1997         62325144.0  4399633.0  18162912.0  544453.0  2151312.0
1998         62384660.0  4513230.0  18476258.0  533074.0  2158729.0
1999         60855376.0  4388735.0  18621802.0  606127.0  2273000.0
2000         60174079.0  4236624.0  18831963.0  602813.0  2333200.0
2001         60134678.0  4446707.0  17891446.0  599901.0  2253705.0
2002         57855724.0  4416727.0  17263495.0  542007.0  2123847.0
2003         55456132.0  4191247.0  16565758.0  557970.0  1991959.0
2004         53233347.0  4019379.0  15752525.0  486736.0  1857020.0
2005         52489632.0  3659871.6  15412245.4  479609.4  1742123.0
2006         69307022.0  4341221.6  18043381.8  547400.0  2170737.4
2007         67922195.0  4341221.6  18043381.8  547400.0  2170737.4
2008         66014349.0  4341221.6  18043381.8  547400.0  2170737.4
2009         65272764.0  4341221.6  18043381.8  547400.0  2170737.4
2010         63971519.0  4341221.6  18043381.8  547400.0  2170737.4
2011         63614907.0  4341221.6  18043381.8  547400.0  2170737.4
2012         63044525.0  4341221.6  18043381.8  547400.0  2170737.4
2013         63386337.0  4369390.6  18062892.4  560452.0  2191130.2
2014         62834162.0  4369390.6  18062892.4  560452.0  2191130.2
2015         63466038.0  4341221.6  18043381.8  547400.0  2170737.4
2016         63458439.0  4341221.6  18043381.8  547400.0  2170737.4
2017         63387616.0  4341221.6  18043381.8  547400.0  2170737.4
2018         63608626.0  4341221.6  18043381.8  547400.0  2170737.4
2019         63903297.0  4341221.6  18043381.8  547400.0  2170737.4
2020         63206828.0  4341221.6  18043381.8  547400.0  2170737.4
2021         65296490.0  4341221.6  18043381.8  547400.0  2170737.4
2022         66766442.0  4341221.6  18043381.8  547400.0  2170737.4


region_code      32524      32525      32526     32527       32528
year
1985         1097168.0  2135948.0  3561612.0  544717.0  16776682.6
1986         1062437.0  2127428.0  3558154.0  523376.0  16776682.6
1987         1186989.0  2199153.0  3554767.0  549099.0  16776682.6
1988         1205796.0  2224649.0  3527264.0  557754.0  16776682.6
1989         1242280.0  2243185.0  3662884.0  603904.0  16776682.6
1990         1237383.0  2273096.0  3913339.0  575455.0  16919689.8
1991         1342062.0  2385039.0  4145214.0  599831.0  16919689.8
1992         1465551.0  2514640.0  4428495.0  638185.0  16919689.8
1993         1604976.0  2707823.0  4387782.0  690145.0  16919689.8
1994         1621820.0  2838703.0  4335198.0  713449.0  16255203.6
1995         1779773.0  3047738.0  4589846.0  722645.0  16371161.8
1996         1893850.0  3063511.0  4800240.0  714627.0  16371161.8
1997         1970218.0  3134063.0  5359168.0  726139.0  16536716.4
1998         2029040.0  3245197.0  4750820.0  744475.0  16371161.8
1999         2058729.0  3203792.0  4689937.0  770656.0  16371161.8
2000         2104435.0  3313311.0  4615603.0  762708.0  16371161.8
2001         2082223.0  3103358.0  4363130.0  721636.0  16371161.8
2002         2044082.0  2909962.0  4157954.0  718083.0  16919689.8
2003         2041215.0  2773110.0  3985483.0  694685.0  16919689.8
2004         1852450.0  2712239.0  3852056.0  610982.0  16919689.8
2005         1661250.8  2573339.0  3686569.0  571624.0  19083931.0
2006         1946322.0  2609567.0  3607598.0  606605.0  18912797.0
2007         1946322.0  2454620.0  3482008.0  599370.0  17833873.0
2008         1946322.0  2377803.0  3569698.0  562751.0  17127603.0
2009         1946322.0  2273781.0  3480252.0  549030.0  16606138.0
2010         1946322.0  2336882.0  3371048.0  539449.0  16082881.0
2011         1946322.0  2381067.0  3352166.0  551117.0  15626219.0
2012         1946322.0  2443874.0  3451278.0  535779.0  15744973.0
2013         1983996.6  2380111.0  3256428.0  546775.0  15761500.0
2014         1983996.6  2425291.0  3340552.0  561321.0  15819270.0
2015         1946322.0  2468690.0  3353089.0  572685.0  16135317.0
2016         1946322.0  2588976.0  3370002.0  608907.0  16341291.0
2017         1946322.0  2644069.0  3442618.0  634627.0  16476536.0
2018         1946322.0  2580699.0  3481604.0  659100.0  17169064.0
2019         1946322.0  2557864.0  3439335.0  686105.0  17023558.0
2020         1946322.0  2469768.0  3423301.0  701780.0  17473739.0
2021         1946322.0  2688706.0  3525472.0  770724.0  17993631.0
2022         1946322.0  2645758.0  3396560.0  788959.0  18259497.0

## 1次元に直す

In [23]:
imputed_df = imputed_df.stack(level=1).reset_index()

/tmp/ipykernel_23545/2703791754.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  imputed_df = imputed_df.stack(level=1).reset_index()

In [25]:
merged_df = pd.merge(imputed_df, df, on=['region_code', 'year'], suffixes=('_imputed', ''))
merged_df

     year  region_code  income_imputed region_name    income investment
0    1985        32202      42436743.0     島根県 浜田市  42436743        ***
1    1985        32308       2041008.0  （旧）島根県 八束町   2041008        ***
2    1985        32521      10791266.0  （旧）島根県 西郷町  10791266        ***
3    1985        32522        330735.0  （旧）島根県 布施村    330735        ***
4    1985        32523       1169118.0  （旧）島根県 五箇村   1169118        ***
..    ...          ...             ...         ...       ...        ...
266  2022        32202      66766442.0     島根県 浜田市  66766442        ***
267  2022        32525       2645758.0     島根県 海士町   2645758        ***
268  2022        32526       3396560.0    島根県 西ノ島町   3396560        ***
269  2022        32527        788959.0     島根県 知夫村    788959        ***
270  2022        32528      18259497.0   島根県 隠岐の島町  18259497        ***

[271 rows x 6 columns]

## 保存

In [35]:
output_filepath = '../../data/raw/imputed_data.xlsx'
imputed_df.to_excel(output_filepath, index=False)