# 既に介入を受けている島を除く．

In [57]:
import pandas as pd
import numpy as np

In [58]:
path = '../../data/raw/df.xlsx'
df = pd.read_excel(path)

処置群の条件

1. treatment_group == 1
2. after_treatment == 0
3. populaiton != NaN

対照群の条件はなし．

In [59]:
adopt = df['island_ids'][
    ((df['treatment_group'] == 1)
    & (df['after_treatment'] == 0)
    & (df['population'].notnull()))
    | (df['treatment_group'] == 0)
    ].unique()

In [60]:
adopt

array([ 62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  73,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  90,  93,
        94,  95,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107,
       108, 109, 110, 112, 113, 114, 115, 117, 118, 119, 120, 122, 123,
       124, 125, 126, 127, 128, 129, 130, 131, 133, 134, 135, 136, 137,
       140, 142, 146, 147, 148, 149, 150, 151, 152, 156, 158, 159, 161,
       162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174,
       175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187,
       188, 189, 190, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201,
       202, 203, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215,
       216, 217, 218, 219, 220, 221, 223, 224, 225])

In [61]:
df_filtered = df[df['island_ids'].isin(adopt)]
df_filtered = df_filtered[df_filtered['distance_m'] <= 2090]

In [62]:
df_filtered['island_ids'].unique()

array([ 66,  67,  68,  69,  70,  71,  73,  76,  77,  78,  79,  80,  88,
        90,  93,  94,  95,  97,  99, 101, 103, 104, 105, 106, 108, 109,
       110, 112, 113, 114, 115, 117, 118, 119, 125, 126, 128, 129, 130,
       135, 136, 140, 146, 148, 156, 162, 163, 165, 166, 167, 170, 171,
       172, 173, 174, 175, 182, 187, 188, 189, 190, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 206, 207, 215, 216, 217, 218,
       221, 223])

In [63]:
outpath = '../../data/processed/df_exclude_already_treated.xlsx'
df_filtered.to_excel(outpath)