# メモ

In [6]:
import pandas as pd
import numpy as np
path = '../../data/processed/df_filtered.xlsx'
df = pd.read_excel(path)

In [7]:
len(df)

794

In [4]:
df.query('treatment_group == 1')['island_ids'].nunique()

33

In [20]:
bridge_year = 0
df.query(f'bridge_year == {bridge_year}')['island_ids'].unique()

array([ 69,  71,  73,  76,  77,  78,  79,  80,  90,  93,  99, 101, 105,
       110, 114, 115, 119, 126, 128, 129, 135, 136, 140, 148, 162, 163,
       165, 166, 167, 170, 174, 175, 182, 190, 194, 196, 198, 199, 200,
       201, 206, 207, 215, 217, 218])

In [22]:
df.prefecture_codes.unique()

array([32, 33, 34, 35, 36, 37, 38, 39])

In [5]:
effect = np.exp(0.120) - 1
print(f'effect: {effect:.3%}')

effect: 12.750%

In [9]:
bridge_year = 1999
df.query(f'bridge_year == {bridge_year}')[['island_names', 'prefecture_names', 'region_names']]

    island_names prefecture_names region_names
0           瀬戸ヶ島              島根県          浜田市
1           瀬戸ヶ島              島根県          浜田市
2           瀬戸ヶ島              島根県          浜田市
3           瀬戸ヶ島              島根県          浜田市
4           瀬戸ヶ島              島根県          浜田市
5           瀬戸ヶ島              島根県          浜田市
696           馬島              愛媛県       （旧）波方町
697           馬島              愛媛県       （旧）波方町
698           馬島              愛媛県       （旧）波方町
699           馬島              愛媛県       （旧）波方町
700           馬島              愛媛県       （旧）波方町
701           馬島              愛媛県       （旧）波方町
702           馬島              愛媛県       （旧）波方町
703           馬島              愛媛県          今治市
704           馬島              愛媛県          今治市
705           馬島              愛媛県          今治市
706           馬島              愛媛県          今治市